[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
ipykernel = "*"
matplotlib = "*"
statsmodels = "*"
numpy = "*"
sklearn = "*"
eiapy = "==0.1.3"
datetime = "*"
iexfinance = "*"
seaborn = "*"
openpyxl = "*"
xlrd = "*"

[dev-packages]

[requires]
python_version = "3.8"
